@import "../../assets/styles/variables.scss";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: $primary;
  color: $black;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: $baseFont;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  outline: 0;
  border: 0;

  &:hover {
    transition: all 0.25s ease-in-out;
    background-color: $primaryHover;
  }
}

// Colors
.primary {
  background-color: $primary;
  &:hover {
    background-color: $primaryHover;
  }
}

.danger {
  background-color: violet !important;
  &:hover {
    background-color: rgb(179, 112, 173) !important;
  }
}
