$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-edit-2: "\e9d0";
$icon-eye-off-solid: "\e9cd";
$icon-lock-solid: "\e9cb";
$icon-close-solid: "\e9c5";
$icon-download-2-solid: "\e9c4";
$icon-eye-pw-open: "\e9c3";
$icon-trash-active: "\e9a5";
$icon-delete: "\e9a5";
$icon-trash: "\e9a6";
$icon-offeo: "\e97d";
$icon-tick-circle: "\e97c";
$icon-folder-active: "\e92f";
$icon-folder: "\e930";
$icon-favorited: "\e99b";
$icon-favorite: "\e99c";
$icon-arrow-left: "\e990";
$icon-arrow-up: "\e991";
$icon-arrow-right: "\e992";
$icon-arrow-down: "\e993";
$icon-lock: "\e951";
$icon-unlock: "\e951";
$icon-notice: "\e931";
$icon-envelope: "\e969";
$icon-email: "\e969";
$icon-google: "\e959";
$icon-share: "\e957";
$icon-social: "\e957";
$icon-instagram: "\e934";
$icon-brand: "\e934";
$icon-social2: "\e934";
$icon-pinterest: "\e96a";
$icon-whatsapp: "\e9ab";
$icon-facebook-messenger: "\e9ac";
$icon-lightbulb: "\e97f";
$icon-plus-thin: "\e96e";
$icon-exit-cancel: "\e92d";
$icon-edit-bar-cancel: "\e92d";
$icon-cancel: "\e92d";
$icon-close: "\e92d";
$icon-move-layer: "\e938";
$icon-search: "\e93a";
$icon-timeline-add-seconds: "\e945";
$icon-add-thin: "\e945";
$icon-timeline-zoom-in: "\e94c";
$icon-timeline-zoom-out: "\e94d";
$icon-youtube: "\e953";
$icon-caret-up: "\e98c";
$icon-caret-right: "\e98d";
$icon-caret-left: "\e98e";
$icon-caret-down: "\e98f";
$icon-dots-three-vertical: "\e90e";
$icon-dots: "\e90e";
$icon-information-solid: "\e99d";
$icon-info: "\e99d";
$icon-thumbs-up: "\e9ba";
$icon-subtract: "\e989";
$icon-minus: "\e989";
$icon-plus: "\e96c";
$icon-add: "\e96c";
$icon-calculate: "\e96c";
$icon-copy: "\e96c";
$icon-create: "\e96c";
$icon-connection: "\e91b";

